input{
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 1rem;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
input:focus {
    transform: scale(1.1);
    width:60%;
  }
textarea{
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 1rem;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    resize: none;
  }
textarea:focus {
    transform: scale(1.5);
  }
button {
  background-color: white;
  border: 0.1rem;
  border-radius:4rem;
  color: #3881bd;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
button:hover {
    transform: scale(1.1);
    background-color: #3881bd;
    color:white;
}

.grow{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.grow:hover{
    transform: scale(1.1);
}

.grow-more{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.grow-more:hover{
    transform: scale(1.4);
}

.flip-box {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 1px solid #ffffff;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: transparent;
  color: black;
}

.flip-box-back {
  background-color: transparent;
  color: white;
  transform: rotateY(540deg);
}